@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}

@model Presentation_Layer.Models.LoginViewModel

<h1 class="font-weight-bold text-center">Login</h1>
<p class="text-center">Dont’t Have an Account? <a href="/register">Sign Up</a></p>



<p class="invalid">@ViewBag.ErrorMessage</p>

<form asp-controller="Account" asp-action="Login" method="post">
    @Html.AntiForgeryToken()
    <input type="text" class="form-control chat-box mb-3" placeholder="Username" name="username">
    
    <div class="input-group mb-3">
        <input type="password" class="form-control input-group-input chat-box" placeholder="Password" name="password">
        <span class="input-group-append d-block border-left-0">
            <div class="input-group-text bg-transparent m-0"><i class="bi bi-eye-fill clickable passwordToggler"></i></div>
        </span>
    </div>

    <button type="submit" class="btn text-white w-100 mb-3 login">Login</button>
</form>

<p class=""><a href="/forgot-password">Forgot Password?</a></p>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="~/js/passwordToggler.js" asp-append-version="true"></script>