.course-section, .modal-content {
    background-color: #1F1F1F;
}

.navbar {
    background-color: #1F1F1F !important;
    position: sticky !important;
    top: 0;
    font-size: 24px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header {
    border-bottom: 1px solid #ffffff22;
}

.dropdown {
    position: static !important;
}

.dropdown-menu {
    border-color: #ffffff22 !important;
    background-color: #1F1F1F !important;
    color: #fff !important;
    position: absolute !important;
    min-width: 18rem !important;
    max-width: 300px;
    max-height: 500px;
    overflow: auto;
    padding-right: 17px;
    box-sizing: content-box;
}

.dropdown-item {
    color: #fff !important;
    border-radius: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
}

.dropdown-item.wrap {
    white-space: pre-wrap;
}

.dropdown-item:hover {
    background-color: #373737;
}

.progress-badge {
    background-color: #5B1CBA;
    font-size: 1rem;
}

.course {
    height: 100%;
}

.question-section {
    background-color: #1F1F1F;
    border-top: 1px solid #ffffff22;
}

.question-section-content {
    height: 20rem;
}

.chat-box {
    color: #fff;
    background-color: #1F1F1F;
    border: 1px solid #ffffff22;
    border-radius: 7px;
    font-size: 20px;
    resize: none;
}

.chat-box:disabled {
    background-color: #1F1F1F;
}

.chat-box:focus {
    box-shadow: none;
    background-color: #1F1F1F;
    color: #fff;
    border: 1px solid #fff;
}

.checkbox-container {
    font-size: 1.5rem !important;
    margin-top: -6px;
}

.chapter-description {
    color: #808080ff;
}

.dropdown-item.selected, .dropdown-item.selected:hover {
    background-color: #5B1CBA !important;
}

.dropdown-menu[data-bs-popper] {
    left: auto !important;
}

code {
    background-color: #161616;
    border-radius: 5px;
    color: #fff;
    padding: 0.25rem;
}

pre {
    background-color: #161616;
    border-radius: 5px;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
}

pre code {
    padding: 0;
}

.course-section h1,
.course-section h2,
.course-section h3,
.course-section h4 {
    margin-top: 3rem;
}

.hljs {
    background-color: transparent;
}

pre code.hljs {
    padding: 0;
}

.snippet-header {
    background-color: #161616;
    border-radius: 5px;
    color: #fff;
    border-bottom: 1px solid #ffffff22;
}

.w-0 {
    overflow: hidden;
    width: 0;
}

.typing {
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(40, end);
}

.codeTyping {
    overflow: hidden;
    animation: typing 2s steps(40, end);
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.dot-typing {
    position: relative;
    top: 8px;
    left: -9984px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
    box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
    animation: dot-typing 1.5s infinite linear;
}

@keyframes dot-typing {
    0% {
        box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
    }

    16.667% {
        box-shadow: 9984px -10px 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
    }

    33.333% {
        box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
    }

    50% {
        box-shadow: 9984px 0 0 0 #fff, 9999px -10px 0 0 #fff, 10014px 0 0 0 #fff;
    }

    66.667% {
        box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
    }

    83.333% {
        box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px -10px 0 0 #fff;
    }

    100% {
        box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
    }
}