.output-section {
    background-color: #181818;
}

.output {
    height: 100%;
    font-size: 20px;
}

.explaination-section {
    background-color: #1F1F1F;
    border-top: 1px solid #ffffff22;
    font-weight: normal;
}

.explaination-section-content {
    height: 10rem;
}

.explaination-nav {
    background-color: #181818 !important;
}